/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #fff;
    font-family: Oxygen, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.wrapper {
    max-width: 950px;
    margin: 0 auto;
    height: 100%;
}

/* END General Styles */

/* Header Styles */

.header {
    background-image: url("../img/header-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 500px;
}

.header__top {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-family: Lora, serif;
    font-size: 26px;
}

.header__list {
    display: flex;
}

.header__nav__item {
    margin-right: 50px;
}

.header__nav__link {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    transition: all .3s;
}

.header__nav__link:hover {
    color: #DD783F;
}


.header__content {
    margin-top: 130px;
    text-align: center;
}

.header__content__title {
    font-family: Lora, serif;
    font-weight: normal;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.header__content__subtitle {
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.63);
    margin-bottom: 30px;
}

.header__button {
    padding: 15px 30px;
    background-color: #DD783F;
    border-radius: 2px;
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    transition: all .3s;
}

.header__button:hover {
    font-size: 20px;
}


/* END Header Styles */

/* Category  Styles */

.category {
    margin: 30px 0;
}

.category__list {
    display: flex;
    justify-content: space-around;
}

/* .categoty__item {

} */

.categoty__link {
    color: #768088;
    font-family: Lora, serif;
    font-weight: normal;
    line-height: 20px;
    transition: all .3s;
}

.categoty__link:hover {
    color: #DD783F;
}

/* END Category  Styles */

/*  Post Styles */

.posts {
    background-color: #F7F7F7;
}

h2.posts__heading {
    text-align: center;
    padding: 60px 0 30px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    color: #2E2E2E;
}

.posts__items {
    display: flex;
    /* max-width: ; */
}

.posts__item {
    width: calc(50% - 20px);
    min-height: 280px;
    margin-right: 20px;
}

.posts__item:nth-child(1) {
    background: url("../img/posts_item.jpg") center center no-repeat;
}

.posts__item:nth-child(2) {
    background: url("../img/posts_item2.jpg") center center no-repeat;
}
/* END Post Styles */