/* General Styles */

body {
    font-size: 1rem;
}

.wrapper {
    max-width: 300px;
}

.noMarginBottom {
    margin-bottom: 0 !important;
}

/* END General Styles */

/* Header Styles */

.header {
    min-height: 75vh;
}

.header__top {
    padding-top: 1rem;
}

.header__logo {
    font-size: 1.25rem;
}

.header__nav__item {
    margin-right: 0.9rem;
}

.header__nav__link {
    font-size: 0.7rem;
    line-height: 1.2rem;
}

.header__nav__link::after {
    height: 1px;
}

.header__content {
    margin-top: 8.5rem;
}

.header__content__title {
    font-size: 3.3rem;
    line-height: 3.4rem;
    margin-bottom: 2rem;
}

.header__content__subtitle {
    font-size: 1.175rem;
    margin-bottom: 3.2rem;
}

.header__button {
    padding: 1.075rem 2.4rem;
    font-size: 1.275rem;
    line-height: 1.3rem;
}
/* END Header Styles */

/* Category Styles */

.category {
    margin: 2.075rem;
}

.category__list {
    justify-content: space-between;
    flex-wrap: wrap;
}

.categoty__item {
    margin-right: 0.75rem;
    margin-bottom: 1.5rem;
}

.categoty__link {
    font-size: 1.175rem;
}

.categoty__link::after {
    height: 2px;
}

/* END Category Styles */

/* Post Styles */

h2.posts__heading {
    padding: 2.45rem 0 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
}

.posts__items {
    flex-direction: column;
}

.posts__item {
    width: 100%;
    margin-bottom: 1.275rem;
}
/* END Posts Styles */

/* Recent Posts Styles */
.recent__posts {
padding-bottom: 2rem;
}


.recent__posts h2.recent__posts__heading {
    padding: 2.45rem 0 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
}

.recent__posts__items {
    flex-direction: column;
}

.recent__posts__item {
    min-width: 100%;
}

.recent__posts__item__heading {
    font-size: 1.475rem;
} 

.recent__posts__item__subheading {
    font-size: 1rem;
}

.recent__posts__item__author__name,
.recent__posts__item__date
{
    font-size: 0.9rem;
}

/* Recent Posts Styles */

/* Footer Styles */

.footer {
    min-height: 25rem;
}

.footer__content {
    min-height: 12rem;
    margin-bottom: 5rem;
}

.footer__title {
    font-size: 1.775rem;
    line-height: 2.075rem;
    margin-top: 0.75rem;
    margin-bottom: 2.5rem;
}

.footer__form {
    min-width: 100%;
}

#footer__email {
    min-width: 70%;
}

#footer__submit {
    min-width: 30%;
    padding: auto;
    padding: 0;
}

.footer__logo {
    font-size: 1.25rem;;
}

.footer__menu__item{
    margin-right: 0.9rem;
}

.footer__menu__link{
    font-size: 0.7rem;
    line-height: 1.2rem;
}
/* END Footer Styles */